<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="side" opened>
    <mat-toolbar>🖥️ Menus</mat-toolbar>
    <mat-nav-list>
      <button class="btn btn-outline-danger" (click)="logout()">
        Se déconnecter
      </button>
      <button mat-button (click)="goTo('/materiels')">Gérer les matériels 📦</button>
      <button mat-button (click)="goTo('/contracts')">Gérer les contrats 📜</button>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- ✅ En-tête de l'application -->
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Menu des gestions</span>
    </mat-toolbar>

    <!-- ✅ Affichage des composants enfants via le routeur -->
    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
