/* ✅ Couleurs des boutons */
.btn-success {
  background: #5cb85c;
  /* Vert */
  color: white;
}

.btn-info {
  background: #b0b0b0;
  /* Gris */
  color: white;
}

.btn-warning {
  background: #ffb84d;
  /* Orange */
  color: white;
}

.btn-danger {
  background: #c14739;
  /* Rouge */
  color: white;
}

/* ✅ Effet au survol */
button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-warning:hover {
  background: hsl(36, 90%, 64%);
  /* Orange foncé */
}

.btn-danger:hover {
  background: #c0392b;
  /* Rouge foncé */
}
