/* ✅ Couleurs des boutons */
.btn-success {
  background: #5cb85c;
  /* Vert */
  color: white;
}

.btn-info {
  background: #b0b0b0;
  /* Gris */
  color: white;
}

.btn-warning {
  background: #ffb84d;
  /* Orange */
  color: white;
}

.btn-danger {
  background: #c14739;
  /* Rouge */
  color: white;
}

/* ✅ Effet au survol */
button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-warning:hover {
  background: hsl(36, 90%, 64%);
  /* Orange foncé */
}

.btn-danger:hover {
  background: #c0392b;
  /* Rouge foncé */
}
.search-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}

.search-container label {
  font-weight: bold;
  font-size: 14px;
}

.search-container input[type="number"] {
  padding: 8px;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* 🎛️ Boutons sous l'input */
.search-actions {
  display: flex;
  gap: 10px;
}

.search-actions button {
  padding: 6px 12px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: #e0e0e0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-actions button:hover {
  background-color: #d5d5d5;
}
.btn-disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  pointer-events: none;
  border: 1px solid #aaa;
}
